.card-display {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  justify-items: center;
  gap: 1rem;
}

.card,
.filtered_item {
  width: 15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.card__top,
.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

li {
  margin-top: 0;
  padding-top: 0;
  overflow-wrap: anywhere;
  
}

ul {
  margin-top: 0;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  text-wrap: wrap;
}
