.card-display {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  justify-items: center;
  gap: 1rem;
}

.card, .filter_item {
  width: 15rem;

  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.card__top,
.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}


